node_modules/
.expo/
dist/
web-build/
app-example
expo-env.d.ts
public/*/.git
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
firebase-debug.log
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
.firebaserc
firebase.json
.firebase
.vercel
maybe-add
export
!site
!docs
*.zip